<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="main"
            connectionString="
            Data Source=(localdb)\MSSQLLocalDB; 
            UserId=sa;
            Password=Password123;
            Initial Catalog=Hello;
            Integrated Security=SSP1;"
            providerName="System.Data.SqlClient"
        />
    </connectionStrings>
</configuration>