<%@ Master Language="C#" Inherits="Porthole.Pages.Layouts.ControlTemplate" MasterPageFile="/Pages/Layouts/DefaultTemplate.master" CodeBehind="~/ControlTemplate.master.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphContent" Runat="server">
    <asp:ContentPlaceHolder id="cphTitle" runat="server" /> 
    <%@ Register Src="/Pages/Layouts/BreadCrumb.ascx" TagName="BreadCrumb" TagPrefix="partial" %> 
    <partial:BreadCrumb runat="server" />
    <asp:ContentPlaceHolder id="cphForm" runat="server" /> 
</asp:Content>